fieldset {
    max-width: 35rem;
  }

  #about {
    display: grid;
    & input,
    & textarea,
    & select {
      appearance: none;
      width: 100%;
      background-color: var(--input-base);
      border:1px solid var(--input-stroke);
      border-radius: 0.5rem;
      padding-inline: 1rem;
      padding-block: 0.81rem;
      margin-top: 0.75rem;
      margin-bottom: 1rem;
      &:hover,
      &:focus {
        border: 1px solid var(--brand-light);
        outline: 1px solid var(--brand-light);
        outline-offset: 0.1px;
      }
    }
    
    #data-start,
    #data-end {
    position: relative;
    color: var(--input-placeholder);
    &:valid {
        color:  var(--text-heading);
      }
      
      &::-webkit-calendar-picker-indicator {
        opacity: 0;
      }
      
      &::before {
        position: absolute;
        inset: 0;
        content: "";

        background-image: url(../../assets/icons/calendar.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 40%;
        left: 80%;
      }
    }
}
 