* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Tipography */
    /* Logo */
    --font-family-logo: "Leckerli One", sans-serif;
    --text-logo: 400 2.5rem/1.5 var(--font-family-logo);

    /* Heading */
    --font-family-heading: "Baloo 2", sans-serif;
    --text-heading-md: 700 1.75rem/auto var(--font-family-heading);
    --text-heading-sm: 700 1.125rem/auto var(--font-family-heading);

    /* Body */
    --font-family-body: "Open Sans", sans-serif;
    --text-body-md: 400 1rem/auto var(--font-family-body);
    --text-body-md-sb: 600 1rem/auto var(--font-family-body);
    
    --text-body-sm: 400 .875rem/auto var(--font-family-body);
    --text-body-sm-sb: 600 .875rem/auto var(--font-family-body);

    --text-body-xs: 400 .75rem/auto var(--font-family-body);
    --text-body-xs-sb: 600 .75rem/auto var(--font-family-body);

    /* Brand color */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    /* Accent Colors */
    --purple: #B259FF;
    --fuschia: #FF59F9;
    --pink: #FF598B;
    --orange: #FF8B59;
    --yellow: #FFCD59;
    --lime: #E1FF59;
    --green: #59FF91;
    --cyan: #59FFF9;
    --navy: #6A59FF;

    /* Feedback color */
    --danger: #FF5959;

    /* Input color */
    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    /* Shape color */
    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    /* Text color */
    --text-body: #C8CDD0;
    --text-heading: #F9F9f9;

}