body {
    background-color: var(--shape-background);
    display: grid;
    grid-template-columns: 33.33% 66.67%;
    height: 100vh;
    overflow: hidden;
}

#fixed {
    display: flex;
    border-radius: .75rem;
    margin: 1.25rem;

    background-image: url(../assets/Background.jpg);
    background-size: cover;
    background-position: center;

    padding-inline: 2rem;
    padding-block: 32px 552px;
}

#app {
    border-radius: .75rem;
    margin: 1.25rem;
    background-color: var(--shape-body);
}